# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython build artifacts
*.c
*.cpp
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython history
.history

# pyenv
.python-version

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# dotenv
.env
.env.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pyright type checker
pyrightconfig.json

# VS Code
.vscode/

# JetBrains IDEs (PyCharm, etc.)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Logs
*.log

# Pasta de dados do projeto
data/
cleaned_data/